asgiref==3.8.1
Brotli==1.1.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
distlib==0.3.8
dj-database-url==3.0.0
Django==5.2.3
et_xmlfile==2.0.0
filelock==3.16.0
greenlet==3.2.3
gunicorn==23.0.0
h11==0.16.0
idna==3.10
mysqlclient==2.2.7
numpy==2.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
pillow==10.4.0
platformdirs==4.3.3
psycopg2==2.9.9
psycopg2-binary==2.9.10
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
requests==2.32.4
six==1.17.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.34.3
virtualenv==20.26.4
whitenoise==6.9.0
xlrd==2.0.2
